"""{{ message }}"""

from alembic import op
import sqlalchemy as sa

# revision identifiers, used by Alembic.
revision = "{{ revision_id }}"
down_revision = {{ down_revision | default("None") }}
branch_labels = None
depends_on = None


def upgrade() -> None:
    {{ upgrade_body | indent(4) }}


def downgrade() -> None:
    {{ downgrade_body | indent(4) }}
